.viewer-loading-container {
    min-height: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewer-container {
    min-height: 470px;
    display: flex;
    flex-direction: row;
}

.viewer-col1 {
    display: flex;
    flex-direction: column;
    width: 66%;
    align-items: center;
    justify-content: center;
}
.viewer-col1 h1{
    font-size: 4em;
}
.viewer-avatar {
    height: 180px;
    width: 180px;
}
.viewer-col2 {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 2px;
    background-color: #fff;
}
.viewer-col2 h1{
    font-size: 1.5em;
    margin-bottom: 10px;
}
.viewer-card-container {
    display: flex;
    flex-direction: row;
}
.viewer-card-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    padding: 10px;
}
.viewer-card-stats p {
    margin : 0;
}