.org-card{
    margin: 10px;
    width: 250px;
    display: inline-block;
}
.org-card:hover{
    cursor: pointer;
    -webkit-box-shadow: 9px 10px 0px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 9px 10px 0px 0px rgba(0,0,0,0.14);
    box-shadow: 9px 10px 0px 0px rgba(0,0,0,0.14);
}

.org-img{
    padding: 3px;
    height: 160px;
    object-fit: cover;
    object-position: 50% 50%;
}