.anchor {
  position: absolute;
  top: -70px;
}
.anchor-after {
  position: absolute;
  top: 70px;
}

.loading-helper{
  display: flex;
  height: 252px;
  justify-content: center;
  align-items: center;
}

.img-loading{
  height: 160px;
  background-color: #d8d8d8;
}

.text-loading{
    height: 20px;
    width: 100px;
    background-color: #d8d8d8;
    margin: 5px;
    border-radius: 99em;
}

.jumbotron {
  background-color: white !important;
  padding-left: 80px;
  padding-right: 80px;
}
.jumbotron.blue {
  background-color: #0abde3 !important;
}
.spinner-border.white {
  border-color: #fff;
  border-bottom-color: transparent;
}

.title-underline{
  position: relative;
  margin-bottom: 30px;
}

.title-underline::after{
  position: absolute;
  content: '';
  height: 10px;
  width: 40px;
  background-color: #0abde3;
  bottom: -20px;
  left: 0px;
}
.title-underline.white::after{
  background-color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 15px;
  background-color: #0abde3;
  color: white;
}